version: '3'

networks:
  app-network:
    name: kittygram_final_default
    driver: bridge

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13
    env_file: .env
    networks:
      - app-network
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always
  backend:
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/health/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    build: ./backend/
    env_file: .env
    volumes:
      - static:/static
      - media:/media
    depends_on:
      - db
    restart: always
  frontend:
    env_file: .env
    build: ./frontend/
    networks:
      - app-network
    volumes:
      - static:/static
    command: >
      sh -c "npm run build && cp -r /app/build/. /static/"
    restart: unless-stopped
  gateway:
    build: ./nginx/
    env_file: .env
    networks:
      - app-network
    ports:
      - 8080:80
    volumes:
      - static:/static
      - media:/media
    depends_on:
      - backend
      - frontend
    restart: always
