version: '3'

networks:
  app-network:
    driver: bridge

volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13
    env_file: .env
    networks:
      - app-network
    volumes:
      - pg_data:/var/lib/postgresql/data
    restart: always
  backend:
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/health/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    build: ./backend/
    env_file: .env
    volumes:
      - static:/app/static
      - media:/app/media
    depends_on:
      - db
    restart: always
  frontend:
    env_file: .env
    build: ./frontend/
    command: sh -c "mkdir -p /static && cp -r /app/build/. /static/"
    networks:
      - app-network
    volumes:
      - static:/usr/share/nginx/html/static
    restart: always
  gateway:
    build: ./nginx/
    env_file: .env
    networks:
      - app-network
    ports:
      - 80:80
      - 443:443
    volumes:
      - static:/static
      - media:/media
    depends_on:
      - backend
      - frontend
    restart: always
